main{
    font-family: Arial, Helvetica, sans-serif;
}



split left{
    float :right
}

aside{
    margin-right: 300px;
    float:right;

}

p{
    font-size: 12px;
}

div {
    width: 300px;
    margin-left: 100px;
   
    
  }